<a href="https://colab.research.google.com/github/Shivaram17/100Days_LeetCode/blob/main/1007LeetCode_RemoveDuplicates_SortedArray.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Transforming data using function or mapping
import pandas as pd
data = pd.DataFrame({
                        'food':['bacon', 'pulled pork', 'bacon', 'pastrami', 'corned beef', 'bacon', 'pastrami', 'honey ham','nova lox'],
                         'ounces':[4,3,16,6,5,7,8,23, 14],
                    })
data
# add a colum called meat_to_animal
meat_to_animal = {
                  'bacon': 'pig',
                   'pulled pork': 'pig',
                   'pastrami': 'cow',
                   'corned beef': 'cow',
                   'honey ham': 'pig',
                   'nova lox': 'salmon',
                   }

# convert food column  to lower case
lowercased = data['food'].str.lower()
lowercased
# mapping 
data['animal_meat'] = data['food'].map(meat_to_animal)
data

          food  ounces animal_meat
0        bacon       4         pig
1  pulled pork       3         pig
2        bacon      16         pig
3     pastrami       6         cow
4  corned beef       5         cow
5        bacon       7         pig
6     pastrami       8         cow
7    honey ham      23         pig
8     nova lox      14      salmon

In [ ]:
# leet code Array and remove element
class Solution:
    def removeElement(self, nums, val):
        l = len(nums)
        count = 0
        for i in range(l):
            if nums[i] != val:
                nums[count] = nums[i]
                count +=1
        # c = nums[:k]
        return count

nums = [3,2,2,3]
val = 3
obj = Solution()
obj.removeElement(nums, val)

2

In [ ]:
# replace 
import pandas as pd
data = pd.DataFrame([1, -999., 2, 1000, -999., 3])
data.replace([-999., 1000], ['NaN',0])
data.replace({-999.: 0, 1000: 999})

       0
0    1.0
1    0.0
2    2.0
3  999.0
4    0.0
5    3.0

In [19]:
# Renaming axis indexes
import pandas as pd
import numpy as np
data = pd.DataFrame(np.arange(1,13).reshape((3,4)),
                    index = ['Ohio', 'Colarado', 'Austin'],
                    columns = ['one','two', 'three', 'four'])
transform = lambda x: x[:4].upper()
data.index.map(transform)
data.index = data.index.map(transform)
# rename can be used to change subset of values
data.rename(index = str.title, columns = str.upper )
data.rename(index = {'OHIO': "Hyderabad"},
            columns = {"one": 'Telangana'}, inplace = True)
data

           Telangana  two  three  four
Hyderabad          1    2      3     4
COLA               5    6      7     8
AUST               9   10     11    12

In [3]:
# Remove duplicates from a sorted array without extra array
class Solution:
    def removeDuplicates(self, nums):
        k = 0
        for i in range(len(nums)):
            if i < len(nums) -1 and nums[i] == nums[i+1]:
                continue
            nums[k] = nums[i]
            k +=1
        return k, nums
nums = [1,1,3]
obj = Solution()
obj.removeDuplicates(nums)

(2, [1, 3, 3])